Computes the necessary files for the three Datawrapper data visualization pieces.

In [1]:
from babel.dates import format_date
from datetime import datetime, timedelta
import pandas as  pd

#### Reading data

In [2]:
df = pd.read_csv("../output/city-recent-daily-means.csv")

In [3]:
df = df.set_index(pd.to_datetime(df.date))

In [4]:
df = df.rename(columns={'mean':'daily_mean'})

#### Detects the months needed and merges

In [5]:
# Adds the month
df['month'] = df.index.month

In [6]:
# Gets the latest month
latest_month = df['month'].idxmax().month

In [7]:
# Keeps only the latest month
df = df[df['month']==latest_month]

In [8]:
# Reads the associated data
month_history = pd.read_csv(f"../output/city-monthly-means/City_Month_{latest_month}_Mean")
month_history = month_history.rename(columns={"mean":"historical_mean"})

In [9]:
# Adds historical mean
df = df.merge(month_history)

In [10]:
# Converts from kg/m3 to microgram/m3
df['daily_mean'], df['historical_mean'] = df['daily_mean'] * 1e9, df['historical_mean'] * 1e9

In [11]:
# Gets the variation from the mean
df['anomaly'] = df['daily_mean'] / df['historical_mean']

In [12]:
df.head()

,CTR_MN_ISO,CTR_MN_NM,ID_HDC_G0,P15,UC_NM_LST,UC_NM_MN,date,daily_mean,month,lat,lon,historical_mean,anomaly
0,ARG,Argentina,962,441985.894928,San Juan,San Juan,2024-09-01,5.152734,9,-31.536676,-68.542058,5.142087,1.002071
1,ARG,Argentina,962,441985.894928,San Juan,San Juan,2024-09-02,17.472118,9,-31.536676,-68.542058,5.142087,3.397865
2,ARG,Argentina,962,441985.894928,San Juan,San Juan,2024-09-03,3.206359,9,-31.536676,-68.542058,5.142087,0.623552
3,ARG,Argentina,962,441985.894928,San Juan,San Juan,2024-09-04,5.140476,9,-31.536676,-68.542058,5.142087,0.999687
4,ARG,Argentina,962,441985.894928,San Juan,San Juan,2024-09-05,7.467998,9,-31.536676,-68.542058,5.142087,1.452328

#### Selecting cities

In [13]:
# Brazilian capitals, with the correct correspondence
br_cities =  {
    'Porto Alegre': 'Porto Alegre (RS)',
    'Florianopolis': 'Florianópolis (SC)',
    'Curitiba': 'Curitiba (PR)',
    'Sao Paulo': 'São Paulo (SP)',
    'Belo Horizonte': 'Belo Horizonte (MG)',
    'Rio de Janeiro': 'Rio de Janeiro (RJ)',
    'Vila Velha': 'Vitória (ES)', # Dado leva o nome de Vila Velha, mas é da região metropolitana de Vitória
    'Cuiaba': 'Cuiabá (MT)',
    'Campo Grande': 'Campo Grande (MS)',
    'Brasilia': 'Brasília (DF)',
    'Goiania': 'Goiânia (GO)',
    'Palmas': 'Palmas (TO)',
    'Manaus': 'Manaus (AM)',
    'Belem': 'Belém (PA)',
    'Rio Branco': 'Rio Branco (AC)',
    'Boa Vista': 'Boa Vista (RR)',
    'Macapa': 'Macapá (AP)',
    'Porto Velho': 'Porto Velho (RO)',
    'Sao Luis': 'São Luís (MA)',
    'Teresina': 'Teresina (PI)',
    'Natal': 'Natal (RN)',
    'Fortaleza': 'Fortaleza (CE)',
    'Recife': 'Recife (PE)',
    'Joao Pessoa': 'João Pessoa (PB)',
    'Aracaju': 'Aracaju (SE)',
    'Maceio': 'Maceió (AL)',
    'Salvador': 'Salvador (BA)'
}

In [14]:
# The Brazilian charts will derive from here
df_br = df[df.UC_NM_MN.isin(br_cities.keys())]
df_br['UC_NM_MN'] = df_br['UC_NM_MN'].replace(br_cities)

/var/folders/yl/bd_xy2c53495c2z2g0w0yrzdtddnbq/T/ipykernel_59656/32914145.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_br['UC_NM_MN'] = df_br['UC_NM_MN'].replace(br_cities)

In [15]:
# The South American charts will derive from here
# TO DO

In [16]:
df_br['datetime'] = pd.to_datetime(df.date)

/var/folders/yl/bd_xy2c53495c2z2g0w0yrzdtddnbq/T/ipykernel_59656/155995396.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_br['datetime'] = pd.to_datetime(df.date)

#### Multiline chart

In [17]:
# Datawrapper forma
dw_multiline_br = df_br.pivot(index='date', columns=['UC_NM_MN'], values='anomaly')

In [18]:
# Show in percentage points of total
dw_multiline_br = dw_multiline_br * 100

In [19]:
dw_multiline_br['baseline'] = 100

In [36]:
# Date should be its own column
dw_multiline_br = dw_multiline_br.reset_index()

In [37]:
dw_multiline_br.to_csv("../output/datawrapper-multiline-br.csv", index=False)

#### Pollution stripes

In [21]:
dw_stripes_br = df_br.pivot(index='UC_NM_MN', columns='date', values='daily_mean').reset_index()

In [22]:
# Adds the necessary extra row for information
dw_stripes_br.loc[-1] = ""  # adding a row
dw_stripes_br.index = dw_stripes_br.index + 1  # shifting index
dw_stripes_br = dw_stripes_br.sort_index()  # sorting by index

In [23]:
# Insert new column in specific position
dw_stripes_br.insert(loc=1, column="label", value="")

In [24]:
# Adds other informative values
min_date = pd.to_datetime(dw_stripes_br.columns[2]).strftime("%d/%m")
max_date = pd.to_datetime(dw_stripes_br.columns[-1]).strftime("%d/%m")

dw_stripes_br.loc[0, 'label'] = f'{min_date} – {max_date}'
dw_stripes_br.loc[0, 'UC_NM_MN'] = 'Cidade'

In [25]:
dw_stripes_br

date,UC_NM_MN,label,2024-09-01,2024-09-02,2024-09-03,2024-09-04,2024-09-05,2024-09-06,2024-09-07,2024-09-08,2024-09-09,2024-09-10,2024-09-11
0,Cidade,01/09 – 11/09,,,,,,,,,,,
1,Aracaju (SE),,5.774878,12.178995,12.456645,10.257351,10.224584,9.72766,7.914113,8.905372,7.934762,9.100605,7.231578
2,Belo Horizonte (MG),,8.321189,17.032488,29.857136,34.032404,30.718047,28.772413,15.861812,21.585042,15.395418,13.896411,5.986929
3,Belém (PA),,9.29731,9.578344,12.178804,7.348999,7.369967,6.642637,7.876628,9.408293,8.798545,9.391717,8.381199
4,Boa Vista (RR),,10.819026,9.894495,9.488356,8.331139,12.441079,9.896644,11.991467,12.005633,10.34759,12.556366,17.634055
5,Brasília (DF),,4.597651,7.168618,8.117225,7.808461,24.568676,25.151049,13.586624,10.974288,10.590771,8.393132,5.111564
6,Campo Grande (MS),,18.824624,33.797622,6.123705,7.747383,65.230687,29.08806,28.755817,15.739145,24.726408,23.310159,26.374575
7,Cuiabá (MT),,37.136315,33.126155,15.595948,22.578758,48.176884,59.752337,28.985016,17.099894,17.975005,28.973585,38.562612
8,Curitiba (PR),,21.066591,24.271822,18.423077,21.333846,32.248418,17.950673,30.237421,37.035728,35.383545,40.896873,26.438531
9,Florianópolis (SC),,20.302273,9.750763,10.665398,22.126254,12.407707,8.747425,11.016971,27.540966,17.062724,20.791775,24.112977
10,Fortaleza (CE),,9.328562,7.500542,7.834148,8.941031,9.141104,9.036689,10.087414,8.81929,8.222404,9.862193,8.660192
11,Goiânia (GO),,4.717552,5.932737,6.28751,8.294252,14.330247,22.643199,16.640734,15.162295,11.979188,7.991666,7.316052
12,João Pessoa (PB),,7.593246,7.758298,9.616605,9.561907,7.35634,7.755541,9.920551,6.950329,8.704962,9.022751,7.663833
13,Macapá (AP),,8.891781,8.998595,8.091152,8.022264,7.301186,6.473011,7.310301,8.079175,8.275752,8.541358,7.022913
14,Maceió (AL),,7.348345,9.334026,10.51433,10.439739,9.323597,8.632587,8.649915,8.593854,7.882768,9.334025,8.496663
15,Manaus (AM),,17.0242,38.258377,27.548154,15.733376,22.900905,38.057496,20.423732,11.415124,16.879108,25.108196,14.658511
16,Natal (RN),,8.251452,7.197837,7.550062,8.225694,8.852557,8.3202,10.226118,7.762141,9.393009,10.08736,8.764098
17,Palmas (TO),,7.474397,7.159692,6.719705,7.726731,10.47178,13.493646,13.928395,10.726124,6.328125,9.624744,10.894902
18,Porto Alegre (RS),,13.55835,9.448871,10.49592,8.159631,9.289996,10.238777,19.337836,12.740886,9.353672,31.454909,29.964628
19,Porto Velho (RO),,127.287365,122.774026,171.18019,86.686043,93.046658,94.368083,112.386381,108.643974,122.234155,98.075937,90.462663
20,Recife (PE),,7.146878,6.812524,9.741382,10.647503,8.343005,7.07161,9.772955,7.215016,8.426309,9.262255,7.397934
21,Rio Branco (AC),,109.371975,75.004188,104.045156,138.712082,81.748034,100.101921,139.073251,120.815869,185.7141,120.570746,98.440339
22,Rio de Janeiro (RJ),,34.053316,19.595521,32.219622,39.500232,27.108471,15.384726,28.923748,24.862563,26.601359,21.217842,14.233758
23,Salvador (BA),,10.514141,11.825743,14.939911,12.329031,14.043002,12.510541,10.739854,11.294379,9.853762,10.121316,9.086311
24,São Luís (MA),,9.345633,9.166718,8.462073,7.34172,9.182196,9.566061,9.827313,10.195192,8.850623,10.511103,9.682172
25,São Paulo (SP),,29.977943,27.513057,58.205118,45.675447,30.158119,10.366973,32.630746,63.984814,68.386644,53.23666,30.239249
26,Teresina (PI),,9.389395,12.134546,15.054732,12.455994,14.667416,8.879575,10.570078,9.750706,8.682935,11.068327,12.314705
27,Vitória (ES),,13.714565,8.385499,17.607562,21.281502,16.037487,11.193901,11.694364,8.282397,8.890678,7.828641,4.406498

In [26]:
dw_stripes_br.to_csv("../output/datawrapper-stripes-br.csv", index=False)

#### Map

In [27]:
# Geet only the desired columns
dw_map_br = df_br[['UC_NM_MN', 'CTR_MN_NM', 'daily_mean', 'date', 'datetime', 'lat', 'lon']]

In [28]:
# Keeps only the last seven days
max_date = dw_map_br.datetime.max()
week_ago = max_date - timedelta(days=7)

dw_map_br = dw_map_br[(dw_map_br.datetime <= max_date) & (dw_map_br.datetime > week_ago)]

In [29]:
dw_map_br = dw_map_br.groupby('UC_NM_MN')['daily_mean'].mean().reset_index()

In [30]:
start, end = week_ago.strftime('%d/%m'), max_date.strftime('%d/%m')
time_interval = f"Média semanal de partículas PM 2.5 por metro cúbico entre {start} e {end}"
time_interval

'Média semanal de partículas PM 2.5 por metro cúbico entre 04/09 e 11/09'

In [31]:
dw_map_br = dw_map_br.rename(columns={'daily_mean':time_interval})

In [32]:
dw_map_br.head()

,UC_NM_MN,Média semanal de partículas PM 2.5 por metro cúbico entre 04/09 e 11/09
0,Aracaju (SE),8.719811
1,Belo Horizonte (MG),18.888010
2,Belém (PA),8.266998
3,Boa Vista (RR),12.410405
4,Brasília (DF),14.053729

In [33]:
dw_map_br.to_csv("../output/datwrapper-map-br.csv", index=False)